:root {
  --primary-color: rgb(204, 62, 204);
}

h2 {
  font-size: 2rem;
  font-weight: normal;
}

.step-container {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 50vw;
  padding: 2rem 1rem;
}

.main-container * {
  margin: 1rem 0;
}

.number-container {
  display: flex;
  justify-content: space-around;
}

.step-container {
  display: flex;
  justify-content: center;
}
.btn-container {
  display: flex;
  justify-content: space-between;
}

.number {
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: var(--primary-color);
}

button {
  cursor: pointer;
  padding: 0.5rem;
  width: 10rem;
}
